# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Рабочий стол\tms-servlet-demo-initial-pr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
